################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fashionshops.csproj
/fashionshops.csproj
/fashionshops.csproj
